################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockTracker/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/StockTracker/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/StockTracker/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/StockTracker/obj/Debug/StockTracker.csproj.FileListAbsolute.txt
/StockTracker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/StockTracker/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/StockTracker/bin/Debug/StockTracker.vshost.exe.manifest
/StockTracker/bin/Debug/StockTracker.vshost.exe.config
/StockTracker/bin/Debug/StockTracker.vshost.exe
/StockTracker/bin/Debug/StockTracker.exe.config
